* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



header {
    width: 100%;
    height: 100vh;
    background-color:  rgb(255, 255, 255);
    display: block;
}

.navbar {
    width: 100%;
    height: 10%;
    background-color: #31085D;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
} 

.navbar div .icono-bar {
    width: 5rem;
    height: 3.5rem;
    
}

header a {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    ;
}

.hamburguesa { 
    width: 2rem;
    height: 2rem;
}

.navcheck:checked + .navmenu {
    background-color: #7c3626;
     clip-path: circle(100% at center); 
     
    
}

.navmenu, .navcheck { 
    display: none; 
}

.navmenu {
    background-color: #7c3626;
    position: fixed;
    top:70px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
     clip-path: circle(0% at center); 
     color: rgb(255, 255, 255);
    transition: clip-path 1s;
}

.nav-label {
    cursor: pointer;
}

.nav-item:hover {
    color: #F5853F;
}

.hero {
    width: 100%;
    height: 90%;
}

.heroimg img{
    width: 100%;
    height: 75%;
}

.hero h2 {
    color: #31085D;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem;
}

.imagenes {
    width: 100%;
    height: 100vh;
    color: #F5853F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textos {
    width: 100%;
    height: 20%;
    align-items: center;
    text-align: center;
}

.trabajos {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1985A1;
}

.trabajos a {
    color: #1985A1;
    font-weight: bold;
    height: 1.5rem;
    width: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    letter-spacing: 0.6;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    visibility: hidden;
    text-decoration: none;
    margin: 0px;
}

.trabajos .tarjeta1 {
    width: 37.5%;
    height: 35%;
    background-image: url("./imagenes/1.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
     margin-bottom: 1rem;
    display: flex;
     align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: #1985A1;
    }

.trabajos .tarjeta1:hover {
    transform: scale(1.5);
}

.trabajos .tarjeta1:hover > .boton1{
    opacity: 1;
    visibility: visible;       
}

.trabajos .tarjeta2 {
    width: 37.5%;
    height: 35%;
    background-image: url("./imagenes/2.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
     margin-bottom: 1rem;
    display: flex;
     align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: #1985A1;    
}

.trabajos .tarjeta2:hover {
    transform: scale(1.5);
}

.trabajos .tarjeta2:hover > .boton2{
    opacity: 1;
    visibility: visible;       
}

.trabajos .tarjeta3 {
    width: 37.5%;
    height: 35%;
    background-image: url("./imagenes/3.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
     margin-bottom: 1rem;
    display: flex;
     align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: #1985A1;    
}

.trabajos .tarjeta3:hover {
    transform: scale(1.5);
}

.trabajos .tarjeta3:hover > .boton3{
    opacity: 1;
    visibility: visible;       
}

.trabajos .tarjeta4 {
    width: 37.5%;
    height: 35%;
    background-image: url("./imagenes/4.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
     margin-bottom: 1rem;
    display: flex;
     align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: #1985A1;    
}

.trabajos .tarjeta4:hover {
    transform: scale(1.5);
}

.trabajos .tarjeta4:hover > .boton4{
    opacity: 1;
    visibility: visible;       
}

.trabajos .tarjeta5 {
    width: 37.5%;
    height: 35%;
    background-image: url("./imagenes/5.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
     margin-bottom: 1rem;
    display: flex;
     align-items: center;
    justify-content: center;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: #1985A1;    
}

.trabajos .tarjeta5:hover {
    transform: scale(1.5);
}

.trabajos .tarjeta5:hover > .boton5{
    opacity: 1;
    visibility: visible;       
}

.contacto {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.contacto .datos {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
} 

.ubicacion1 {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: flex-start;  
    padding-left: 1rem;
}

.ultimo {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  
}
.ultimo p {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.datos h2 {
    padding-bottom: 3rem;
    text-align: center;
}


.imagen {
    height: 100%;
    width: 70%;
    padding-right: 2rem;
    background-image: url("./imagenes/lugar");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
